<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.tptp.platform.analysis.core.ui.launch.analysisLaunchConfigurationType">
<stringAttribute key="codereview.java.rules.exceptions.RuleExceptionsExtendThrowable.variable.SEVERITY" value="0"/>
<booleanAttribute key="codereview.java.rules.loop.RuleLoopNoInitIncrForLoop" value="true"/>
<stringAttribute key="codereview.java.rules.exceptions.RuleExceptionsExtendError.variable.CLASS" value="java.lang.Error"/>
<stringAttribute key="codereview.java.rules.portability.RulePortabilityLineSeparators.variable.SEVERITY" value="1"/>
<stringAttribute key="codereview.java.rules.exceptions.RuleExceptionsExtendError.variable.SEVERITY" value="0"/>
<stringAttribute key="codereview.java.threads.suspend.variable.SEVERITY" value="2"/>
<booleanAttribute key="codereview.java.rules.serialization.RuleSerializationTransientField" value="true"/>
<booleanAttribute key="codereview.java.category.initialization" value="true"/>
<stringAttribute key="codereview.java.threads.overridesynchronizable.variable.SEVERITY" value="2"/>
<booleanAttribute key="codereview.java.category.reflection" value="true"/>
<stringAttribute key="codereview.java.rules.comparison.RuleComparisonInstanceOfEquals.variable.SEVERITY" value="1"/>
<booleanAttribute key="codereview.java.rules.declaration.RuleDeclarationDeclareConstants" value="true"/>
<stringAttribute key="codereview.java.rules.serialization.RuleSerializationSerialVersionUID.variable.SEVERITY" value="0"/>
<stringAttribute key="codereview.java.threads.nonsynchronizedwait.variable.SEVERITY" value="2"/>
<booleanAttribute key="codereview.java.category.loop" value="true"/>
<booleanAttribute key="codereview.java.rules.exceptions.RuleExceptionsThrowThrowable" value="true"/>
<stringAttribute key="codereview.java.rules.constructors.RuleConstructorsOverridableMethods.variable.SEVERITY" value="0"/>
<booleanAttribute key="codereview.java.category.declaration" value="true"/>
<booleanAttribute key="codereview.java.rules.casting.RuleCastingObjectDowncast" value="true"/>
<stringAttribute key="codereview.java.threads.stop.variable.SEVERITY" value="2"/>
<stringAttribute key="codereview.java.rules.casting.RuleCastingObjectDowncast.variable.SEVERITY" value="0"/>
<booleanAttribute key="codereview.java.threads.yield" value="true"/>
<stringAttribute key="codereview.java.rules.exceptions.RuleExceptionsThrowThrowable.variable.CLASS" value="java.lang.Throwable"/>
<stringAttribute key="codereview.java.rules.constructors.RuleConstructorsAbstractMethods.variable.SEVERITY" value="0"/>
<stringAttribute key="codereview.java.threads.stop.variable.CLASS" value="java.lang.Thread"/>
<booleanAttribute key="codereview.java.rules.exceptions.RuleExceptionsExtendRuntimeException" value="true"/>
<stringAttribute key="codereview.java.rules.awt.RuleAwtPeer.variable.SEVERITY" value="2"/>
<stringAttribute key="codereview.java.rules.cloneable.RuleCloneableImplementCloneable.variable.SEVERITY" value="1"/>
<stringAttribute key="codereview.java.rules.conditional.RuleConditionalNegationIfCondition.variable.SEVERITY" value="0"/>
<stringAttribute key="codereview.java.threads.nonsynchronizednotifyall.variable.SEVERITY" value="2"/>
<booleanAttribute key="codereview.java.threads.whilesleep" value="true"/>
<stringAttribute key="codereview.java.threads.synchronizedthis.variable.SEVERITY" value="0"/>
<booleanAttribute key="codereview.java.rules.declaration.RuleDeclarationCArrayStyle" value="true"/>
<stringAttribute key="codereview.java.rules.comparison.RuleComparisonClassNameComparison.variable.SEVERITY" value="2"/>
<stringAttribute key="codereview.java.rules.reflection.RuleReflectionGetDeclaredField.variable.METHOD" value="getDeclaredField"/>
<booleanAttribute key="codereview.java.category.switch" value="true"/>
<booleanAttribute key="codereview.java.rules.reflection.RuleReflectionGetMethod" value="true"/>
<stringAttribute key="codereview.java.threads.nonsynchronizedwait.variable.METHOD" value="wait"/>
<stringAttribute key="codereview.java.threads.nonsynchronizednotify.variable.CLASS" value="java.lang.Object"/>
<booleanAttribute key="codereview.java.rules.constructors.RuleConstructorsOverridableMethods" value="true"/>
<stringAttribute key="codereview.java.rules.loop.RuleLoopContinueStatement.variable.SEVERITY" value="0"/>
<stringAttribute key="codereview.java.rules.reflection.RuleReflectionGetMethod.variable.CLASS" value="java.lang.Class"/>
<booleanAttribute key="codereview.java.rules.cloneable.RuleCloneableOverrideClone" value="true"/>
<booleanAttribute key="codereview.java.rules.portability.RulePortabilityFileSeparator" value="true"/>
<stringAttribute key="codereview.java.rules.statement.RuleStatementEmptyStatement.variable.SEVERITY" value="0"/>
<stringAttribute key="codereview.java.threads.nonsynchronizednotify.variable.METHOD" value="notify"/>
<stringAttribute key="codereview.java.rules.exceptions.RuleExceptionsThrowThrowable.variable.SEVERITY" value="0"/>
<stringAttribute key="codereview.java.rules.serialization.RuleSerializationTransientField.variable.SEVERITY" value="0"/>
<stringAttribute key="codereview.java.rules.reflection.RuleReflectionGetField.variable.SEVERITY" value="0"/>
<booleanAttribute key="codereview.java.rules.exceptions.RuleExceptionsThrowError" value="true"/>
<stringAttribute key="codereview.java.rules.cloneable.RuleCloneableOverrideClone.variable.SEVERITY" value="1"/>
<stringAttribute key="codereview.java.rules.reflection.RuleReflectionGetDeclaredMethod.variable.CLASS" value="java.lang.Class"/>
<stringAttribute key="codereview.java.rules.reflection.RuleReflectionGetField.variable.METHOD" value="getField"/>
<stringAttribute key="codereview.java.threads.whilesleep.variable.SEVERITY" value="0"/>
<stringAttribute key="codereview.java.threads.nonsynchronizedwait.variable.CLASS" value="java.lang.Object"/>
<booleanAttribute key="codereview.java.rules.constructors.RuleConstructorsAbstractMethods" value="true"/>
<stringAttribute key="codereview.java.rules.nulls.RuleNullEnumeration.variable.SEVERITY" value="1"/>
<booleanAttribute key="codereview.java.rules.nulls.RuleNullEmptyArray" value="true"/>
<stringAttribute key="codereview.java.rules.reflection.RuleReflectionGetMethod.variable.SEVERITY" value="0"/>
<booleanAttribute key="codereview.java.threads.destroy" value="true"/>
<booleanAttribute key="codereview.java.rules.portability.RulePortabilitySystemGetenv" value="true"/>
<stringAttribute key="codereview.java.threads.stop.variable.METHOD" value="stop"/>
<booleanAttribute key="codereview.java.threads.nonsynchronizednotify" value="true"/>
<stringAttribute key="codereview.java.rules.serialization.RuleSerializationSerializableField.variable.SEVERITY" value="2"/>
<stringAttribute key="codereview.java.threads.nonsynchronizednotifyall.variable.CLASS" value="java.lang.Object"/>
<stringAttribute key="codereview.java.rules.serialization.RuleSerializationResolveObject.variable.SEVERITY" value="2"/>
<booleanAttribute key="codereview.java.rules.nulls.RuleNullIterator" value="true"/>
<booleanAttribute key="codereview.java.threads.overridesynchronizable" value="true"/>
<stringAttribute key="codereview.java.rules.declaration.RuleDeclarationInterfaceConstants.variable.SEVERITY" value="0"/>
<stringAttribute key="codereview.java.rules.serialization.RuleSerializationReadWriteObject.variable.SEVERITY" value="2"/>
<stringAttribute key="codereview.java.rules.loop.RuleLoopNoConditionForLoop.variable.SEVERITY" value="0"/>
<booleanAttribute key="codereview.java.rules.exceptions.RuleExceptionsInstanceofCatch" value="true"/>
<booleanAttribute key="codereview.java.category.portability" value="true"/>
<stringAttribute key="codereview.java.rules.exceptions.RuleExceptionsThrowException.variable.SEVERITY" value="0"/>
<booleanAttribute key="codereview.java.category.null" value="true"/>
<booleanAttribute key="codereview.java.j2sebestpractices" value="true"/>
<booleanAttribute key="codereview.java.threads.waitoutsideloop" value="true"/>
<stringAttribute key="codereview.java.threads.notifyall.variable.SEVERITY" value="0"/>
<booleanAttribute key="codereview.java.category.conditional" value="true"/>
<stringAttribute key="codereview.java.rules.portability.RulePortabilitySystemGetenv.variable.SEVERITY" value="1"/>
<stringAttribute key="codereview.java.rules.reflection.RuleReflectionGetDeclaredMethod.variable.METHOD" value="getDeclaredMethod"/>
<booleanAttribute key="codereview.java.rules.reflection.RuleReflectionGetDeclaredField" value="true"/>
<booleanAttribute key="codereview.java.threads.stop" value="true"/>
<stringAttribute key="codereview.java.rules.exceptions.RuleExceptionsInstanceofCatch.variable.SEVERITY" value="1"/>
<booleanAttribute key="codereview.java.rules.statement.RuleStatementSurroundWithBraces" value="true"/>
<stringAttribute key="codereview.java.threads.yield.variable.CLASS" value="java.lang.Thread"/>
<booleanAttribute key="codereview.java.rules.portability.RulePortabilityLineSeparators" value="true"/>
<stringAttribute key="codereview.java.rules.loop.RuleLoopAssignLoopVariable.variable.SEVERITY" value="1"/>
<stringAttribute key="codereview.java.rules.exceptions.RuleExceptionsSpecificExceptions.variable.SEVERITY" value="0"/>
<stringAttribute key="codereview.java.rules.declaration.RuleDeclarationCArrayStyle.variable.SEVERITY" value="0"/>
<booleanAttribute key="codereview.java.category.threads" value="true"/>
<booleanAttribute key="codereview.java.rules.comparison.RuleComparisonEqualsHashCode" value="true"/>
<stringAttribute key="codereview.java.rules.nulls.RuleNullIterator.variable.SEVERITY" value="1"/>
<stringAttribute key="codereview.java.rules.exceptions.RuleExceptionsThrowError.variable.CLASS" value="java.lang.Error"/>
<booleanAttribute key="codereview.java.rules.serialization.RuleSerializationSerializableField" value="true"/>
<booleanAttribute key="codereview.java.rules.switches.RuleSwitchDefaultLabel" value="true"/>
<stringAttribute key="codereview.java.rules.switches.RuleSwitchBranch.variable.SEVERITY" value="0"/>
<booleanAttribute key="codereview.java.rules.conditional.RuleConditionalNegationIfCondition" value="true"/>
<booleanAttribute key="codereview.java.category.casting" value="true"/>
<booleanAttribute key="codereview.java.category.comparison" value="true"/>
<stringAttribute key="codereview.java.rules.nulls.RuleNullEmptyArray.variable.SEVERITY" value="2"/>
<booleanAttribute key="codereview.java.rules.switches.RuleSwitchBranch" value="true"/>
<booleanAttribute key="codereview.java.rules.conditional.RuleConditionalTernary" value="true"/>
<stringAttribute key="codereview.java.threads.extendthread.variable.CLASS" value="java.lang.Thread"/>
<stringAttribute key="codereview.java.rules.reflection.RuleReflectionGetMethod.variable.METHOD" value="getMethod"/>
<stringAttribute key="codereview.java.rules.declaration.RuleDeclarationMixedDeclaration.variable.SEVERITY" value="0"/>
<stringAttribute key="codereview.java.rules.exceptions.RuleExceptionsThrowException.variable.CLASS" value="java.lang.Exception"/>
<stringAttribute key="codereview.java.rules.comparison.RuleComparisonEqualsHashCode.variable.SEVERITY" value="2"/>
<stringAttribute key="codereview.java.rules.switches.RuleSwitchDefaultLabel.variable.SEVERITY" value="0"/>
<booleanAttribute key="codereview.java.threads.synchronizedthis" value="true"/>
<stringAttribute key="codereview.java.threads.yield.variable.METHOD" value="yield"/>
<booleanAttribute key="codereview.java.rules.declaration.RuleDeclarationInterfaceConstants" value="true"/>
<stringAttribute key="codereview.java.threads.resume.variable.METHOD" value="resume"/>
<stringAttribute key="codereview.java.rules.reflection.RuleReflectionGetField.variable.CLASS" value="java.lang.Class"/>
<stringAttribute key="codereview.java.threads.extendthread.variable.SEVERITY" value="0"/>
<booleanAttribute key="codereview.java.rules.serialization.RuleSerializationResolveObject" value="true"/>
<booleanAttribute key="codereview.java.rules.comparison.RuleComparisonPlaceConstants" value="true"/>
<listAttribute key="analysisProjectList">
<listEntry value="bitsToGo"/>
</listAttribute>
<booleanAttribute key="codereview.java.rules.declaration.RuleDeclarationMixedDeclaration" value="true"/>
<booleanAttribute key="codereview.java.rules.cloneable.RuleCloneableSuperClone" value="true"/>
<booleanAttribute key="codereview.java.rules.serialization.RuleSerializationReadWriteObject" value="true"/>
<stringAttribute key="codereview.java.threads.yield.variable.SEVERITY" value="0"/>
<listAttribute key="analysisWorkingSetList"/>
<booleanAttribute key="codereview.java.threads.nonsynchronizednotifyall" value="true"/>
<stringAttribute key="codereview.java.rules.comparison.RuleComparisonPlaceConstants.variable.SEVERITY" value="0"/>
<booleanAttribute key="codereview.java.rules.initialization.RuleInitializationInitializeStaticFields" value="true"/>
<stringAttribute key="codereview.java.rules.loop.RuleLoopNoInitIncrForLoop.variable.SEVERITY" value="0"/>
<booleanAttribute key="codereview.java.rules.initialization.RuleInitializationAssigningMethodParameter" value="true"/>
<stringAttribute key="codereview.java.rules.reflection.RuleReflectionGetDeclaredMethod.variable.SEVERITY" value="0"/>
<stringAttribute key="codereview.java.rules.initialization.RuleInitializationAssigningMethodParameter.variable.SEVERITY" value="0"/>
<booleanAttribute key="codereview.java.rules.loop.RuleLoopNoConditionForLoop" value="true"/>
<booleanAttribute key="codereview.java.threads.synchronizedmethod" value="true"/>
<booleanAttribute key="codereview.java.rules.loop.RuleLoopContinueStatement" value="true"/>
<booleanAttribute key="codereview.java.threads.resume" value="true"/>
<stringAttribute key="codereview.java.rules.casting.RuleCastingPrimitives.variable.SEVERITY" value="1"/>
<stringAttribute key="codereview.java.rules.declaration.RuleDeclarationMultipleDeclaration.variable.SEVERITY" value="0"/>
<stringAttribute key="codereview.java.rules.conditional.RuleConditionalTernary.variable.SEVERITY" value="0"/>
<booleanAttribute key="codereview.java.category.constructors" value="true"/>
<booleanAttribute key="codereview.java.rules.exceptions.RuleExceptionsCatchGeneric" value="true"/>
<stringAttribute key="codereview.java.threads.destroy.variable.SEVERITY" value="2"/>
<stringAttribute key="codereview.java.rules.statement.RuleStatementSurroundWithBraces.variable.SEVERITY" value="0"/>
<stringAttribute key="codereview.java.rules.exceptions.RuleExceptionsThrowError.variable.SEVERITY" value="0"/>
<booleanAttribute key="codereview.java.threads.notifyall" value="true"/>
<stringAttribute key="codereview.java.threads.nonsynchronizednotifyall.variable.METHOD" value="notifyAll"/>
<booleanAttribute key="codereview.java.threads.suspend" value="true"/>
<stringAttribute key="codereview.java.rules.exceptions.RuleExceptionsCatchGeneric.variable.SEVERITY" value="0"/>
<stringAttribute key="codereview.java.threads.destroy.variable.CLASS" value="java.lang.Thread"/>
<booleanAttribute key="codereview.java.category.cloneable" value="true"/>
<stringAttribute key="codereview.java.rules.initialization.RuleInitializationChainingAssignments.variable.SEVERITY" value="0"/>
<stringAttribute key="codereview.java.rules.exceptions.RuleExceptionsExtendThrowable.variable.CLASS" value="java.lang.Throwable"/>
<booleanAttribute key="codereview.java.threads.nonsynchronizedwait" value="true"/>
<booleanAttribute key="codereview.java.rules.exceptions.RuleExceptionsSpecificExceptions" value="true"/>
<stringAttribute key="codereview.java.rules.portability.RulePortabilityFileSeparator.variable.SEVERITY" value="1"/>
<stringAttribute key="codereview.java.rules.exceptions.RuleExceptionsExtendRuntimeException.variable.SEVERITY" value="0"/>
<booleanAttribute key="codereview.java.rules.exceptions.RuleExceptionsExtendThrowable" value="true"/>
<booleanAttribute key="codereview.java.category.serialization" value="true"/>
<booleanAttribute key="codereview.java.rules.initialization.RuleInitializationChainingAssignments" value="true"/>
<stringAttribute key="codereview.java.rules.comparison.RuleComparisonReferenceEquality.variable.SEVERITY" value="1"/>
<booleanAttribute key="codereview.java.rules.declaration.RuleDeclarationMultipleDeclaration" value="true"/>
<booleanAttribute key="codereview.java.rules.comparison.RuleComparisonReferenceEquality" value="true"/>
<booleanAttribute key="codereview.java.category.statement" value="true"/>
<booleanAttribute key="codereview.java.rules.awt.RuleAwtPeer" value="true"/>
<stringAttribute key="codereview.java.rules.cloneable.RuleCloneableSuperClone.variable.SEVERITY" value="2"/>
<booleanAttribute key="codereview.java.category.awt" value="true"/>
<stringAttribute key="codereview.java.threads.suspend.variable.CLASS" value="java.lang.Thread"/>
<stringAttribute key="codereview.java.rules.initialization.RuleInitializationInitializeStaticFields.variable.SEVERITY" value="0"/>
<stringAttribute key="codereview.java.rules.reflection.RuleReflectionGetDeclaredField.variable.SEVERITY" value="0"/>
<booleanAttribute key="codereview.java.rules.statement.RuleStatementEmptyStatement" value="true"/>
<booleanAttribute key="codereview.java.rules.comparison.RuleComparisonInstanceOfEquals" value="true"/>
<booleanAttribute key="codereview.java.rules.exceptions.RuleExceptionsThrowException" value="true"/>
<booleanAttribute key="codereview.java.rules.serialization.RuleSerializationSerialVersionUID" value="true"/>
<booleanAttribute key="codereview.java.rules.reflection.RuleReflectionGetDeclaredMethod" value="true"/>
<stringAttribute key="codereview.java.threads.destroy.variable.METHOD" value="destroy"/>
<stringAttribute key="codereview.java.threads.waitoutsideloop.variable.SEVERITY" value="0"/>
<booleanAttribute key="codereview.java.threads.extendthread" value="true"/>
<stringAttribute key="codereview.java.threads.suspend.variable.METHOD" value="suspend"/>
<booleanAttribute key="codereview.java.category.exceptions" value="true"/>
<stringAttribute key="codereview.java.threads.synchronizedmethod.variable.SEVERITY" value="0"/>
<stringAttribute key="codereview.java.rules.reflection.RuleReflectionGetDeclaredField.variable.CLASS" value="java.lang.Class"/>
<listAttribute key="analysisWorkspace"/>
<stringAttribute key="codereview.java.rules.exceptions.RuleExceptionsExtendRuntimeException.variable.CLASS" value="java.lang.RuntimeException"/>
<booleanAttribute key="codereview.java.analysisProvider" value="true"/>
<stringAttribute key="codereview.java.rules.declaration.RuleDeclarationDeclareConstants.variable.SEVERITY" value="0"/>
<stringAttribute key="codereview.java.threads.nonsynchronizednotify.variable.SEVERITY" value="2"/>
<stringAttribute key="codereview.java.threads.resume.variable.SEVERITY" value="2"/>
<booleanAttribute key="codereview.java.rules.switches.RuleSwitchBreak" value="true"/>
<booleanAttribute key="codereview.java.rules.nulls.RuleNullEnumeration" value="true"/>
<stringAttribute key="codereview.java.threads.resume.variable.CLASS" value="java.lang.Thread"/>
<stringAttribute key="codereview.java.rules.switches.RuleSwitchBreak.variable.SEVERITY" value="1"/>
<intAttribute key="analysisInput" value="2"/>
<booleanAttribute key="codereview.java.rules.reflection.RuleReflectionGetField" value="true"/>
<booleanAttribute key="codereview.java.rules.comparison.RuleComparisonClassNameComparison" value="true"/>
<booleanAttribute key="codereview.java.rules.exceptions.RuleExceptionsExtendError" value="true"/>
<booleanAttribute key="codereview.java.rules.cloneable.RuleCloneableImplementCloneable" value="true"/>
<booleanAttribute key="codereview.java.rules.casting.RuleCastingPrimitives" value="true"/>
<booleanAttribute key="codereview.java.rules.loop.RuleLoopAssignLoopVariable" value="true"/>
</launchConfiguration>
